@import "tailwindcss";

:root {
  --font-poppins: var(--font-poppins);
  --primary-color: #12203b;
  --secondary-color: #eae59b;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

/* Embla Carousel Styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
