.about-wrapper {
    .about-image {
        position: relative;

        @include breakpoint (max-xl){
            img {
                @include imgw;
            }
        }

        .thumb1 {
            position: absolute;
            left: -70px;
            bottom: 80px;

            @include breakpoint (max-md){
               left: 0;
            }

             @include breakpoint (max-sm){
                max-width: 140px;
            }
        }

        .thumb2 {
            position: absolute;
            right: 50px;
            top: 50px;

            @include breakpoint (max-sm){
                max-width: 140px;
            }
        }
    }
    .about-content {
        .about-text {
            margin-top: 25px;
            border-bottom: 1px solid rgba(199, 201, 206, 0.24);
            padding-bottom: 25px;
        }

        .about-list-items {
            padding-top: 25px;
            @include flex;
            justify-content: space-between;
            margin-bottom: 50px;

             @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 20px;
            }

            ul {
                li {
                    @include flex;
                    gap: 10px;
                    font-weight: 700;
                    color: $header-color;

                    &:not(:last-child){
                        margin-bottom: 18px;
                    }

                    i {
                        color: $theme-color;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.about-section {
    position: relative;
    z-index: 9;

    .left-shape {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            height: 100%;
        }
    }
}

.about-wrapper-2 {
    .about-image-items {
        position: relative;
        z-index: 9;

        .about-image {
            max-width: 472px;
            position: relative;

            .text-circle {
                position: absolute;
                bottom: 30px;
                right: -60px;
                z-index: 9;
                    animation: cir36 10s linear infinite;

                @include breakpoint (max-xl){
                    right: initial;
                    left: 0;
                }

                .ball-cicrle {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: #FFEEE7;
                    text-align: center;
                    line-height: 100px;
                }

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    content: "";
                    transform: translate(-50%,-50%);
                    width: 188px;
                    height: 188px;
                    background-color: #F5F6F6;
                    border-radius: 50%;
                    z-index: -1;
                }

                img {
                    width: initial;
                    height: initial;
                }
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .about-sm-img {
            position: absolute;
            max-width: 254px;
            top: 14%;
            right: -1%;
            border-radius: 254px;
            border: 6px solid $theme-color;

            @include breakpoint (max-xxs){
                max-width: 140px;
                border-radius: 2px solid $theme-color;
                border-radius: 50%
            }

            img {
                @include imgw;
            }

            .img {
                position: absolute;
                z-index: -1;
                top: -30%;
                right: 20%;
            }
        }
    }

    .about-content {
        margin-left: 40px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .about-text {
            margin-top: 25px;
            font-size: 16px;
        }

        h5 {
            font-size: 20px;
            font-weight: 700;
            font-family: $body-font;
            margin-top: 20px;
        }

        .text-area {
            display: flex;
            align-items: end;
            margin-top: 20px;
            gap: 20px;

            h3 {
                font-size: 40px;
                font-weight: 900;
            }

            p {
                color: #464E5E;
            }
        }

        .theme-btn {
            margin-top: 50px;
        }
    }
}

.about-section-2 {
    position: relative;
    z-index: 9;

    .vec-shape {
        position: absolute;
        bottom: 250px;
        left: 0;
        z-index: -1;

        @include breakpoint (max-xl4){
            display: none;
        }
    }
}


.about-wrapper-3 {
    .about-left-items {
        .about-image {
            position: relative;
            z-index: 9;

            img {
                @include imgw;
            }

            .thumb {
                max-width: 260px;
                position: absolute;
                bottom: -2%;
                right: 3%;

                 @include breakpoint (max-xl){
                   max-width: 180px;
                   bottom: 0;
                }
            }
        }
    }

    .about-content {
        margin-left: 30px;
        
        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .section-title {
            h6 {
                color: $header-color;
                font-family: $body-font;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 6px;
                text-transform: uppercase;
                padding: 10px 0;
                position: relative;
                display: inline-block;

                &::before {
                     content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(90deg, #FE5900 0%, rgba(201,203,223,0) 100%);
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 1px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(270deg, #FE5900 0%, rgba(201,203,223,0) 100%);
                }
            }
        }

        .about-text {
            margin-top: 25px;
            margin-bottom: 30px;
        }

        .list-box {
            margin-top: 20px;

            .list-content {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 8px;

                i {
                    color: $theme-color;
                }

                h5 {
                    font-family: $body-font;
                    font-size: 18px;
                    font-weight: 700;

                }
            }
        }

        .theme-btn {
            margin-top: 50px;

             @include breakpoint (max-md){
                margin-top: 30px;
            }
        }
    }
}

.about-section-3 {
    position: relative;

    .stoke-title2 {
        color: $header-color;
        font-size: 188px;
        font-weight: 900;
        letter-spacing: -1.88px;
        text-transform: uppercase;
        opacity: 0.06;
        writing-mode: vertical-rl;
        position: absolute;
        top: 0;
        left: 20px;
        bottom: 0;

        @include breakpoint (max-xl){
            display: none;
        }

        span {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #030523;
            font-size: 188px;
            font-weight: 900;
            letter-spacing: -1.88px;
            text-transform: uppercase;
            opacity: 1;
            color: transparent;
        }
    }
}