.sponsor-wrapper {
    .sponsor-image {
        text-align: center;
        padding: 25px 40px;

        @include breakpoint (max-xxl){
            padding: 20px;
            border: 1px solid rgba(199, 201, 206, 0.24) !important;

            img {
                width: initial !important;
            }
        }
       
        img {
             width: 100%;
             height: 64px;
             
             @include breakpoint (max-md){
                height: initial;
                width: 70px !important;
             }
        }
    }

    .theme-btn {
        margin-left: 20px;
        padding: 0 24px;
    }

    .bb-left {
        border-left: 1px solid rgba(199, 201, 206, 0.24);
    }

    .bb-right {
        border-right: 1px solid rgba(199, 201, 206, 0.24);
    }

    .bb-bottom {
        border-bottom: 1px solid rgba(199, 201, 206, 0.24);
    }

    .bb-top {
        border-top: 1px solid rgba(199, 201, 206, 0.24);
    }
}

.brand-logo-3 {
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgba(199, 201, 206, 0.24);
    padding: 30px 0;
}


.sponsor-wrapper-21 {
    margin-top: 60px;

    @include breakpoint (max-xl){
        margin-top: 30px;
    }

    .table-responsive {
        overflow: hidden;

        @include breakpoint (max-xxl){
            overflow-x: auto;

            .sponsor-wrap {
                width: 1500px;
            }
        }
    }
   .sponsor-box-items {
        @include flex;
        justify-content: space-between;


        .sponsor-img {
                width: 180px;         
                height: 148px;       
                 border: 1px solid rgba(199, 201, 206, 0.24);
                display: flex;      
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;   // box এর ভেতরে ফিট করবে
                    max-height: 100%;
                    object-fit: contain; // image distortion হবে না
                }

                &.bb-top-none {
                    border-top: none;
                }

                &.bb-top-bottom {
                    border-bottom: none;
                }

                &.bb-top-left {
                    border-left: none;
                }

                &.bb-top-right {
                    border-right: none;
                }

                &.bb-none {
                    border: none !important;
                }
            }

   }
}