.contact-info-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 0;

    .contact-info-items {
        border-left: 2px solid $theme-color;
        padding-left: 24px;

        h3 {
            margin-bottom: 10px;
        }

        p {
            color: #464E5E;
            b {
                font-weight: 600;
                display: block;
                color: #464E5E;
            }

            a {
                color: #464E5E;
                display: block;
            }
        }
    }
}

.contact-box-wrapper {
    .map-area {
        iframe {
            width: 100%;
            height: 628px;
        }
    }

    .gt-contact-right-items {
        border-radius: 0;
        background-color: $bg-color;
        padding: 43px;

        @include breakpoint (max-md){
            padding: 30px;
        }
        
        h2 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        .contact-form-box {
            margin-top: 30px;

            h4 {
                margin-bottom: 15px;
                font-family: $body-font;
                font-size: 18px;
                font-weight: 700;
            }

            .form-clt {
                input,textarea {
                    border-radius: 0;
                    border: none;
                    background: $white;
                    line-height: 1;
                    padding: 20px 25px;
                    width: 100%;
                    text-transform: capitalize;
                    color: $text-color;
                    font-weight: 600;
                }

                textarea {
                    padding-bottom: 110px;
                }
            }
        }
    }
}