.counter-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding: 40px 32px;
    margin-bottom: -80px;
    position: relative;
    z-index: 99;

    @include breakpoint (max-xl){
        flex-wrap: wrap;
        gap: 30px;
        padding: 30px;
    }

    .counter-items {
        border-right: 1px solid #C7C9CE;
        padding-right: 50px;

        @include breakpoint (max-xxl){
            padding-right: 0;
            border-right: none;
        }

        &.border-none {
            border-right: none;
            padding-right: 0;
        }

        h6 {
            font-family: $body-font;
            font-size: 20px;
            font-weight: 700;
        }

        .icon-box {
            display: flex;
            align-items: center;
            gap: 16px;
            margin-top: 18px;

            h2 {
                font-size: 40px;
                color: $theme-color;
                font-weight: 900;

            }
        }
    }
}

.feature-progress-wrapper {
    margin-top: -150px;
    position: relative;
    z-index: 99;

    @include breakpoint (max-lg){
       margin-top: 80px;
    }

    .content {
        @include flex;
        gap: 64px;
        margin-top: -180px;

        @include breakpoint (max-lg){
            margin-top: 0;
            flex-wrap: wrap;
            gap: 30px;
        }

        .list-item {
            ul {
                @include flex;
                gap: 12px;

                li {
                    .icon {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        background-color: $theme-color;
                    }
                }

                .box-list {
                     font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    border: 1px solid rgba(199, 201, 206, 0.24);
                    padding: 12px 16px;
                    line-height: 1;

                }
            }
        }

        h3 {
            font-size: 40px;
            font-weight: 900;

            @include breakpoint (max-xl){
                font-size: 33px;
            }

            @include breakpoint (max-md){
                font-size: 35px;
            }

            @include breakpoint (max-sm){
                font-size: 30px;
            }

            span {
                color: $theme-color;
            }
        }
    }

    .feature-progress-thumb {
        position: relative;

        @include breakpoint (max-xxl){
            img {
                @include imgw;
            }
        }

        .video-btn {
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            background-color: $theme-color;
            color: $white;
            position: absolute;
            left: -30px;
            top: 50%;
            transform: translateY(-50%);

             @include breakpoint (max-xl){
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

.basketball-leagues-items {
    .content {
        text-align: center;
        border: 1px solid rgba(199, 201, 206, 0.24);
        padding: 40px 45px;
    }

    .themb {
        img {
            @include imgw;
        }
    }
}

.hottest-box-items-3 {
    margin-top: 30px;
    
    .hottest-thumb {
        position: relative;
        height: 450px;

        img {
            @include imgw;
            object-fit: cover;
        }

        .post-box {
            position: absolute;
            display: inline-block;
            font-weight: 700;
            color: var(--header);
            position: absolute;
            top: 24px;
            left: 24px;
            background-color: var(--white);
            padding: 11px 19px;
            border-radius: 100px;
            line-height: 1;
        }

        .post-box-2 {
            position: absolute;
            display: inline-block;
            font-weight: 700;
            color: var(--header);
            position: absolute;
            bottom: 24px;
            right: 24px;
            background-color: var(--white);
            padding: 11px 19px;
            border-radius: 100px;
            line-height: 1;

            @include breakpoint (max-xl){
                bottom: initial;
                top: 24px;
            }
        }

        .video-btn {
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-radius: 50%;
            background-color: var(--theme);
            color: var(--white);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .hottest-content {
            position: absolute;
            bottom: 20px;
            left: 20px;

            h3 {
                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: $white;
            }
        }
    }
}   


.trophy-section {
    margin-top: -67px;
    margin-bottom: -42px;
}