.footer-subscribe-wrapper {
    @include flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(199, 201, 206, 0.24);
    padding-bottom: 80px;

      @include breakpoint (max-xxl){
       flex-wrap: wrap;
       justify-content: start;
       gap: 25px;
    }

    h3 {
        color: $white;
    }

    form {
        max-width: 490px;
        width: 100%;
        position: relative;

        input {
            background: rgba(255, 255, 255, 0.12);
            backdrop-filter: blur(24px);
            border: none;
            outline: none;
            width: 100%;
            padding: 20px 20px;
            color: rgba(255, 255, 255, 0.7);

            &::placeholder {
                 color: rgba(255, 255, 255, 0.7);
            }
        }

        button {
            position: absolute;
            right: 5px;
            bottom: 0;
            top: 5px;
        }
    }

    .footer-right {
        @include flex;
        gap: 32px;

          @include breakpoint (max-md){
            flex-wrap: wrap;
            gap: 20px;
        }

        .social-icon {
            gap: 16px;

            a {
                display: inline-block;
                border-radius: 100px;
                background: rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(46px);
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border-radius: 50%;
                color: $white;

                &:hover {
                    background-color: $theme-color;
                }
            }
        }
    }
}

.footer-widget-wrapper {
    padding: 50px 0 80px;

    .footer-widget-items {
        margin-top: 30px;
    }

    .widget-head {
        margin-bottom: 30px;

        h3 {
            color: $white;
        }
    }

    .footer-content {
        p {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .list-area {
        li {
            a {
                color: rgba(255, 255, 255, 0.7);

                &:hover {
                   color: $theme-color;
                }
            }

            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
    }

    .footer-contact-list {
        li {
            color: rgba(255, 255, 255, 0.7);

            a {
                color: rgba(255, 255, 255, 0.7);
            }

            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
    }

    .app-items {
        @include flex;
        gap: 16px;
    }

    .footer-form {
        form {
            position: relative;

            input {
                background: rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(24px);
                border: none;
                outline: none;
                width: 100%;
                padding: 20px 20px;
                color: rgba(255, 255, 255, 0.7);
                text-transform: uppercase;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            button {
                position: absolute;
                right: 5px;
                bottom: 0;
                top: 5px;

                .theme-btn {
                    padding: 0 24px;
                }
            }
        }

        .form-check {
            margin-top: 20px !important;
            margin: 0;
            padding: 0;
            @include breakpoint(max-xxl) {
                margin-top: 0;
            }

            .form-check-input {
                float: left;
                margin-left: 0;
                transform: translateY(0);
                width: 16px;
                height: 16px;
                border-radius: 0;
                border: 1px solid rgba(255, 255, 255, 0.6);
                background-color: transparent;

                // @include breakpoint(max-md) {
                //     transform: translateY(30px);
                // }

                &:checked {
                    background-color: $theme-color;
                    border-color: $theme-color;
                }
            }

            .form-check-label {
                margin-left: 10px;
                color: $white;
                font-weight: 600;
                opacity: 0.8;
                font-size: 14px;

                a {
                    text-decoration: underline;
                     color: $white;
                }

                @include breakpoint (max-sm) {
                    margin-left: 22px;
                    font-size: 14px;
                }
            }
        }

        .social-icon {
            margin-top: 30px;
            gap: 12px;

            a {
                display: inline-block;
                border-radius: 100px;
                background: rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(46px);
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                border-radius: 50%;
                color: var(--white);

                &:hover {
                    background-color: $theme-color;
                }
            }
        }
    }

    .footer-post-items {
        li {
            @include flex;
            gap: 16px;

            &:not(:last-child){
                margin-bottom: 24px;
            }

            .content {
                max-width: 296px;

                .top-text {
                    color: $white;
                    opacity: .7;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    @include flex;
                    gap: 15px; 
                    margin-bottom: 5px;
                }

                h6 {
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $body-font;
                    line-height: 150%;

                    a {
                        color: $white;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}


.footer-bottom {
    padding-bottom: 20px;
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-md){
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    &.style-3 {
        border-top: 1px solid rgba(199, 201, 206, 0.24);
        background: #030523;
        padding: 20px 0;
        overflow: hidden;
        position: relative;
        z-index: 99;

        .footer-bottom-wrapper-3 {
            @include flex;
            justify-content: space-between;

            @include breakpoint (max-sm){
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;
            }
        }

        .social-icon {
            gap: 12px;
            
            a {
                display: inline-block;
                border-radius: 100px;
                background: rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(46px);
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                color: var(--white);

                &:hover {
                    background-color: $theme-color;
                }
            }
        }
    }

    p {
        color: $white;
        font-weight: 700;

        b {
            color: $theme-color;
        }
    }

    .footer-menu {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
            a {
                color: rgba(255, 255, 255, 0.7);
                background-image: linear-gradient(var(--theme-color), var(--theme-color));
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline-block;
                transition: all 0.4s ease-in-out;
                text-transform: uppercase;

                &:hover {
                    background-size: 100% 1px;
                    color: $theme-color;
                }
            }
        }
    }
}

.footer-instagram-wrapper {
    padding: 100px 0 100px;

    .footer-instagram-image {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            top: 0;
            bottom: 0px;
            right: 0;
            background: rgba(29, 29, 29, 0.6);
            transition: -webkit-transform 0.4s ease;
            transition: transform 0.4s ease;
            transition: transform 0.4s ease, -webkit-transform 0.4s ease;
            transform-origin: top right;
            -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
            width: 100%;
            height: 100%;
            z-index: 9;
        }

        .gt-icon {
            display: inline-block;
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 22px;
            color: $white;
            @include transition;
            opacity: 0;
            visibility: hidden;
            z-index: 99;
        }

        img {
            @include imgw;
        }

        &:hover {
            .gt-icon {
                top: 50%;
                opacity: 1;
                visibility: visible;
            }

            &::before {
                  -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
                transform-origin: bottom center;
            }
        }
    }
}

.footer-logo-item {
    text-align: center;
    @include flex;
    justify-content: space-between;

    @include breakpoint (max-xxl){
        justify-content: center;
        border-bottom: 1px solid rgba(199, 201, 206, 0.24);
        padding-bottom: 50px;

        .border-img {
            display: none !important;
        }
    }
}

.footer-bottom-2 {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(46px);
    text-align: center;
    padding: 28px 0;

    p {
        text-align: center;
        font-weight: 700;
        color: $white;

        b {
            color: $theme-color;
        }
    }
}

.footer-top-wrapper-3 {
    padding: 100px 0 50px;
    border-bottom: 1px solid rgba(199, 201, 206, 0.24);

    p {
        color: $white;
        opacity: 0.88;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        max-width: 376px;
        margin-left: 70px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }
    }

    ul {
        li {
            font-size: 16px;
            font-weight: 700;
            color: $white;
            opacity: 0.88;

            &:not(:last-child){
                margin-bottom: 10px;
            }

            a {
                color: $white;
                opacity: 0.88;
            }
        }
    }
}


.footer-left-40 {
    margin-left: 60px;

     @include breakpoint (max-xxl){
      margin-left: 0;
    }
}

.style-right-30 {
    margin-right: 20px;

     @include breakpoint (max-xl){
      margin-right: 0;
    }

    .theme-btn {
        padding: 0 22px;
    }
}

.footer-section-3 {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 39%;
        width: 1px;
        height: 100%;
        content: "";
        background: rgba(199, 201, 206, 0.24);

        @include breakpoint (max-xxxl){
          left: 36%;
        }

         @include breakpoint (max-xxl){
            display: none;
        }
    }

     &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 63%;
        width: 1px;
        height: 100%;
        content: "";
        background: rgba(199, 201, 206, 0.24);

        @include breakpoint (max-xxxl){
            left: 66%;
        }

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}