
//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 45px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 700;
				color:  $white;
                font-family: $body-font;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: uppercase;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 14px;
				}
	
				&:hover {
					color: $theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $white;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 6px solid $theme-color;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 700;
						color: $header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
                        padding-right: 22px;
						width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 800px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -90px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu-items {
					@include flex;
					gap: 30px;
					justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								gap: 10px;
								display: flex;
								justify-content: center;
								flex-direction: column;
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
								text-align: center;
	
								.gt-theme-btn {
									padding: 5px 15px;
									color: var(--white) !important;
									min-width: 130px;
									width: 100%;
									text-align: center;
									justify-content: center;
									background-color: $theme-color;

									&:hover {
										background-color: $header-color !important;
									}
								}
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 18px;
                            font-weight: 600;
                            font-family: $heading-font;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $theme-color;

					&::after {
						color:  $theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
	}
}

//>>>>> Header 01 Start <<<<<//
.header-1 {
	position: absolute;
	z-index: 9999;
	width: 100%;
	left: 0;

	.logo {
		@include breakpoint (max-sm){
			img {
				width: 150px;
			}
		}

		@include breakpoint (max-xxs){
			img {
				width: 130px;
			}
		}
	}

	.container {
		max-width: 1800px;
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $header-color;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $white;
					left: 0;
					width: 40px;
				}
				&:last-child {
					bottom: 0;
					background: $white;
					width: 40px;
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}

	&.header-3 {
		.container {
			max-width: 1720px;
		}

		.logo {
			@include breakpoint (max-sm){
				img {
					width: 150px;
				}
			}

			@include breakpoint (max-xxs){
				img {
					width: 130px;
				}
			}
		}

		.mega-menu-wrapper {
			background-color: $white;
			padding: 0 24px;
		}

		.header-main {
			.main-menu {
				ul {
					li {
						a {
				
							color:  $header-color;

							&:hover {
								color: $theme-color !important;
							}
				
						}
					}
				}
			}
		}

		.sidebar__toggle {
		
			.header-bar {
				span {
				
					background: $header-color;
					&:first-child {
						background: $header-color;
					}
					&:last-child {
						background: $header-color;
					}
				}
			}
		}
	}
}

.header-2 {
	background-color: #030523;
	
	.container {
		max-width: 1610px;
	}

	.logo {
		@include breakpoint (max-sm){
			img {
				width: 150px;
			}
		}

		@include breakpoint (max-xxs){
			img {
				width: 130px;
			}
		}
	}

	.header-btn {
		@include flex;
		gap: 24px;

		@include breakpoint (max-xl){
			display: none;
		}

		.theme-btn {
			border: 1px solid transparent;
			&.border-btn {
				background-color: transparent;
				border: 1px solid $white;

				&::before {
					background-color: $theme-color;
				}

				&:hover {
					border: 1px solid $theme-color;
				}
			}
		}
	}

	.sidebar__toggle {
		cursor: pointer;
	
		.header-bar {
			position: relative;
			width: 40px;
			height: 11px;
		
			span {
				position: absolute;
				width: 100%;
				height: 2px;
				display: inline-block;
				transition: all 0.3s;
				left: 0;
				background: $header-color;
				overflow: hidden;
				&:first-child {
					top: 0;
					background: $white;
					left: 0;
					width: 40px;
				}
				&:last-child {
					bottom: 0;
					background: $white;
					width: 40px;
				}
			}
			&.active {
				span {
					&:first-child {
						transform: rotate(45deg) translate(3px, 9px);
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						transform: rotate(-45deg) translate(3px, -9px);
					}
				}
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
}

.header-top-section {
	position: relative;
	z-index: 999;
	padding: 12px 0;

	@include breakpoint (max-lg){
		display: none;
	}

	.container {
		max-width: 1610px;
	}

	.header-top-wrapper {
		@include flex;
		justify-content: space-between;

		p {
			font-size: 16px;
			font-weight: 700;

			a {
				color: $theme-color;
				text-decoration: underline;
			}
		}

		.form-clt {
			max-width: 125px;
			width: 100%;
			@include flex;
			gap: 10px;

			 .form {
				max-width: 110px;
				width: 100%;

				.single-select {
					border: none;
					background-color: transparent;
					border-radius: 0;
					padding: 0;
					line-height: initial;
					height: initial;

					span {
						margin-bottom: 0;
						font-size: 16px;
						font-weight: 600;
						text-transform: uppercase;
					}

					.list {
						width: 100%;
					}

					&::after {
						right: 0;
						width: 8px;
						height: 8px;
						top: 43%;
						border-bottom: 2px solid $text-color;
						border-right: 2px solid $text-color;
					}
				}
			}
		}
	}

	&.header-section-2 {
		background: rgba(255, 255, 255, 0.12);
		backdrop-filter: blur(50px);
		z-index: 99999;
		position: relative;

		.container {
			max-width: 1720px;
		}

		.header-top-wrapper {
			p {
				color: $white;
				font-size: 16px;
				font-weight: 600;
			}

			.top-left {
				@include flex;
				gap: 30px;

				.social-icon {
					gap: 12px;

					a {
						display: inline-block;
						width: 35px;
						height: 35px;
						display: inline-block;
						line-height: 35px;
						text-align: center;
						border-radius: 50%;
						background-color: $white;
						color: $text-color;

						&:hover {
							background-color: $theme-color;
							color: $white;
						}
					}
				}
			}

			.top-right {
				@include flex;
				gap: 30px;
				max-width: 365px;
				width: 100%;

				p {
					font-weight: 700;

					b {
						font-weight: 700;
						color: $theme-color;
					}
				}
				
				.form-clt {
					.form {
						.single-select {
							span {
								color: $white;
							}
							&::after {
								border-bottom: 2px solid $white;
								border-right: 2px solid $white;
							}
						}
					}
				}
			}
		}
	}
}

.header-top-section-3 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 9999;
	transition: all 0.9s;
	background-color: $white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	&.header-1 {
		.header-main {
			.main-menu {
				ul {
					li {
						a {
				
							color:  $header-color;

							&:hover {
								color: $theme-color !important;
							}
				
						}
					}
				}
			}
		}

		.sidebar__toggle {
		
			.header-bar {
				span {
				
					background: $header-color;
					&:first-child {
						background: $header-color;
					}
					&:last-child {
						background: $header-color;
					}
				}
			}
		}
	}

	&.header-2 {
		background-color: #030523;
	
	}
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $white none repeat scroll 0 0;
	border-left: 2px solid  $theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		h4 {
			font-weight: 700;
		}
		.text {
			color: $text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;

					a {
						color: $text-color;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 20px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: $bg-color;
                    color: $header-color;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
					border-radius: 0;

                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}



//>>>>> Breadcrumb Start <<<<<//
.gt-breadcrumb-wrapper{
	position: relative;
	overflow: hidden;
    z-index: 9;

	&.bg-before {
		position: relative;
		&::before {
			@include before;
			top: 66%;
			background-color: $white;
		}
	}

	.gt-page-heading{
		position: relative;
		padding: 260px 0 130px;
		z-index: 9;

		@include breakpoint (max-xl){
			padding-top: 220px;
		}

		@include breakpoint (max-lg){
			padding-top: 180px;
		}

		@include breakpoint (max-md){
			text-align: center;
			padding-top: 150px;
			padding-bottom: 120px;
		}

		h1 {
			color: $white;
			font-size: 72px;
			position: relative;
			text-transform: uppercase;
			z-index: 9;
            font-weight: 900;
            letter-spacing: 0.36px;

		
		
			@include breakpoint(max-md){
				font-size: 60px;
			}
		
			@include breakpoint(max-sm){
				font-size: 50px;
			}
		
			@include breakpoint(max-xxs){
				font-size: 40px;
			}

		}

		.gt-breadcrumb-items{
			display: inline-flex;
			margin-top: 20px;
			gap: 10px;

			@include breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: $white;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 16px;
	
				a {
					color: $white;				;
					@include transition;
                    opacity: .7;
	
					&:hover{
						color: $theme-color;
                        opacity: 1;
					}

					i {
						color: $theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $white;
				}
			}
		}
	}

}

.gt-error-items {
	text-align: center;
    position: relative;

	.gt-error-image {
		margin-bottom: 50px;
        img {
			@include imgw;
		}
	}

	h2 {
		margin-bottom: 15px;

		@include breakpoint (max-sm){
			font-size: 30px;
		}

	}

	p {
		margin-bottom: 48px;
        max-width: 872px;

		@include breakpoint(max-md){
			margin-bottom: 30px;
		}
	}

	.gt-theme-btn {

		.gt-icon-btn {
			background-color: $header-color;

			&::after {
				background-color: $theme-color;
			}
		}
	}
}