.hero-1 {
     padding: 100px 0 0;
    padding-right: 100px;
    position: relative;
    overflow: hidden;

    .tilt_scale {
        transition: transform 0.2s ease;
        display: inline-block;
    }


    @include breakpoint (max-xxxl){
       padding-right: 280px;
    }

     @include breakpoint (max-xxl){
       padding-right: 0;
       padding-bottom: 100px;
    }

     @include breakpoint (max-lg){
        padding-top: 180px;
        padding-bottom: 0;
    }

    @include breakpoint (max-md){
        padding-top: 150px;
    }

    @include breakpoint (max-sm){
        padding-top: 130px;
    }

    .right-shape {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 9;

        @include breakpoint (max-xl){
            display: none;
        }
    }

  

    .hero-content {
        @include breakpoint (max-lg){
           text-align: center;
        }

        h6 {
            color: $theme-color;
            font-size: 20px;
            font-weight: 700;
            font-family: $body-font;
            margin-bottom: 14px;

             @include breakpoint(max-xxs){
               font-size: 16px;
            }
        }

        h1 {
            color: $white;
            letter-spacing: -1px;

            @include breakpoint(max-xxxl){
                font-size: 75px;
            }

            @include breakpoint(max-xl){
                font-size: 62px;
            }

            @include breakpoint(max-lg){
                font-size: 68px;
            }

            @include breakpoint(max-md){
                font-size: 55px;
            }

            @include breakpoint(max-sm){
                font-size: 48px;
            }

            @include breakpoint(max-xxs){
                font-size: 42px;
            }

            span {
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $theme-color;
                font-family: $theme-color;
                color: transparent;
            }
        }

        p {
            color: $white;
            line-height: 150%;
            margin-top: 24px;
            max-width: 785px;
        }

        .hero-btn {
            margin-top: 48px;
            @include flex;
            gap: 24px;

             @include breakpoint (max-lg){
               flex-wrap: wrap;
               margin-top: 30px;
               justify-content: center;
            }
        }
    }
    
    .hero-image {
        position: relative;
        z-index: 9;

         @include breakpoint (max-xxl){
            img {
                @include imgw;
            }
        }

         @include breakpoint (max-md){
           text-align: center;
        }

        .hero-image-bg {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

             @include breakpoint (max-xxl){
                display: none;
            }
        }
    }
}

