.back-to-top{
    border-radius: 0 !important;
    background-color: $theme-color;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: $white;
    font-size: 18px;
    position: fixed;
    display: inline-block;
    z-index: 999;
    right: 30px;
    bottom: 30px;
    @include transition;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);

    &:hover {
        background-color: $header-color;
        color: $white;
    }
    
    &.show {
        opacity: 1;
        visibility: visible;
        transform: translate(0);
    }
}


.cursor-outer {
	-webkit-margin-start: -12px;
	margin-inline-start: -12px;
	margin-top: -12px;
	width: 30px;
	height: 30px;
	border: 1px solid $theme-color;
	background-color: $theme-color;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10000000;
	opacity: 0.34;
	-webkit-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.cursor-outer.cursor-hover {
	opacity: 0.14;
}
.cursor-outer.cursor-big {
	opacity: 0;
}
.mouseCursor {
	position: fixed;
	top: 0;
	inset-inline-start: 0;
	inset-inline-end: 0;
	bottom: 0;
	pointer-events: none;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	visibility: hidden;
	text-align: center;
}
.mouseCursor.cursor-big {
	width: 20px;
	height: 20px;
	-webkit-margin-start: -12px;
	margin-inline-start: -12px;
	margin-top: -12px;
}
.cursor-inner {
	-webkit-margin-start: -3px;
	margin-inline-start: -3px;
	margin-top: -3px;
	width: 10px;
	height: 10px;
	z-index: 10000001;
	background-color: $theme-color;
	opacity: 1;
	-webkit-transition: all 0.24s ease-out 0s;
	transition: all 0.24s ease-out 0s;
	span {
		color: $text-color;
		line-height: 60px;
		opacity: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 12px;
	}
}
.cursor-inner.cursor-big {
	span {
		opacity: 1;
	}
}
.cursor-inner.cursor-hover {
	-webkit-margin-start: -10px;
	margin-inline-start: -10px;
	margin-top: -10px;
	width: 30px;
	height: 30px;
	background-color: $theme-color;
	border: 1px solid #686363;
	opacity: 0;
}

.preloader {
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;

  .animation-preloader {
      z-index: 1000;

      .spinner {
          animation: spinner 1s infinite linear;
          border-radius: 50%;
          border: 3px solid rgba(0, 0, 0, 0.2);
          border-top-color: $theme-color;
          height: 9em;
          margin: 0 auto 3.5em auto;
          width: 9em;

          @media (max-width: 767px) {
              width: 7.5em;
              height: 7.5em;
              margin: 0 auto 1.5em auto;
          }
      }

      .txt-loading {
          font: 500 5em $heading-font, $body-font;
          text-align: center;
          user-select: none;
          font-family: $heading-font;
          font-weight: 700;

          @media (max-width: 767px) {
              font-size: 2.5em;
          }

          .letters-loading {
              color: $theme-color;
              position: relative;

              &:nth-child(2):before {
                  animation-delay: 0.2s;
              }

              &:nth-child(3):before {
                  animation-delay: 0.4s;
              }

              &:nth-child(4):before {
                  animation-delay: 0.6s;
              }

              &:nth-child(5):before {
                  animation-delay: 0.8s;
              }

              &:nth-child(6):before {
                  animation-delay: 1s;
              }

              &:nth-child(7):before {
                  animation-delay: 1.2s;
              }

              &:nth-child(8):before {
                  animation-delay: 1.4s;
              }

              &::before {
                  animation: letters-loading 4s infinite;
                  color: $header-color;
                  content: attr(data-text-preloader);
                  left: 0;
                  opacity: 0;
                  font-family: $heading-font;
                  position: absolute;
                  top: -3px;
                  transform: rotateY(-90deg);
              }
          }
      }
  }

  p {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 8px;
      color: $theme-color;
  }

  .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 0;
      z-index: 1;
      pointer-events: none;

      .row {
          height: 100%;
      }

      .loader-section {
          padding: 0px;

          .bg {
              background-color: $white;
              height: 100%;
              left: 0;
              width: 100%;
              transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
          }
      }
  }

  &.loaded {
      .animation-preloader {
          opacity: 0;
          transition: 0.3s ease-out;
      }

      .loader-section {
          .bg {
              width: 0;
              transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
          }
      }
  }
}