.back-to-top {
  border-radius: 0 !important;
  background-color: $theme-color;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: $white;
  font-size: 18px;
  position: fixed;
  display: inline-block;
  z-index: 999;
  right: 30px;
  bottom: 30px;
  @include transition;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  &:hover {
    background-color: $header-color;
    color: $white;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
}

.preloader {
  align-items: center;
  cursor: default;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;

  .animation-preloader {
    z-index: 1000;

    .spinner {
      margin: 0 auto 3.5em auto;
      display: flex;
      justify-content: center;
      align-items: center;

      .spinner-logo {
        animation: spinner 1s infinite linear;
        object-fit: contain;
        z-index: 2;
      }

      @media (max-width: 767px) {
        margin: 0 auto 1.5em auto;
      }
    }
  }

  p {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: $theme-color;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    z-index: 1;
    pointer-events: none;

    .row {
      height: 100%;
    }

    .loader-section {
      padding: 0px;

      .bg {
        background-color: $white;
        height: 100%;
        left: 0;
        width: 100%;
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
      }
    }
  }

  &.loaded {
    .animation-preloader {
      opacity: 0;
      transition: 0.3s ease-out;
    }

    .loader-section {
      .bg {
        width: 0;
        transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
      }
    }
  }
}
