
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;

	h3 {
		font-size: 32px;
	}

	&.style-2 {
		h2 {
			span {
				color: $theme-color;
				-webkit-text-stroke-width: initial;
			}
		}
	}

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	h6 {
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		color: $theme-color;
		font-family: $body-font;
		position: relative;
		margin-bottom: 15px;

	}

	h2 {
		text-transform: uppercase;

		span {
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color:$theme-color;
			letter-spacing: 0.5px;
			color: transparent
		}

		.text-weight-700 {
			font-weight: 700;
			color: $header-color;
			letter-spacing: initial;
			-webkit-text-stroke-width: initial;
		}
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	.section-title {
		margin-bottom: 0;
	}

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	// @include breakpoint (max-md) {
		
	// }
}


//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}


.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

