
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #FE5900;
    --header: #030523;
    --text: #434343;
    --border: #FCFCFC;
    --bg: #F5F6F6;
    --bg2: #030523;
    --bg3: #F7F3EE;
    --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
$bg-color-3: var(--bg3);
$shadow: var(--box-shadow);